<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <link href="{% static  "bt.css" %}" rel="stylesheet">
    <link href="{% static  "style.css" %}" rel="stylesheet">
    <link href="{% static  "app.css" %}" rel="stylesheet">
    <title>{% block title %}Coretbas shop{% endblock %}</title>
</head>
<body>
    <div id="header">
	<a href="/" class="logo">Coretabs shop</a>
    </div>

    <div id="content">
	{% block content %}
	{% endblock %}
    </div>
</body>
</html>